<%- include('partials/head') %>


<%- include('partials/nav') %>

    <h1>All Cats:</h1>
    <ul>
        <% for (const cat of cats) { %>
            <li>
                <%= cat %>
            </li>
        <% } %>
    </ul>

    <%- include('partials/footer') %>
